*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: left;
}

img{
    max-width: 100%;
}

.big{
    display: none;
}

p{
    font-size: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 1.25rem 0 1.25rem;
}

.menu-button{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 0.5rem;
}

.menu-button:hover{
    animation: sidefloat 1s ease;
}

.side-bar{
    position: fixed;
    background-color: hsl(36, 100%, 99%);
    height: 100vh;
    right: 0;
    top: 0;
    width: 16rem;
    z-index: 1;
    display: none;
}

.close{
    height: 33px;
    width: 33px;
    position: absolute;
    top: 2.95rem;
    right: 2rem;
    cursor: pointer;
    padding-bottom: 4px;
}

.close:hover{
    animation: bop 1.5s ease;
}

.vertical{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 9rem;
    margin-left: 1.5rem;
    text-align: left;
}

a{
    text-decoration: none;
    color: hsl(240, 100%, 5%)
}

a:hover{
    font-weight: 700;
    color: hsl(5, 85%, 63%);
}

.dull{
    backdrop-filter: brightness(50%);
    backdrop-filter: contrast(45%);
}

.center-image{
    padding: 1.75rem;
}

button{
    height: 3rem;
    width: 11.5rem;
    border: none;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1rem 0 4rem 1.7rem;
    cursor: pointer;
    font-weight: 700;
}

button:hover{
    animation: sweep 2s linear;
    background: hsl(5, 85%, 63%) -webkit-linear-gradient(left, hsl(5, 85%, 63%), rgba(248, 157, 150, 0.5)) no-repeat 0 0 / 30px;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

span{
    padding: 0.375rem;
}

.mid{
    width: 22.5rem;
}

.mid h1{
    margin-top: -1rem;
    padding-right: 6rem;
    margin-left: 1.75rem;
    font-weight: 800;
    line-height: 2rem;
}

.mid p{
    margin: 0.75rem 0 2rem 1.75rem;
    line-height: 1.5rem;
    font-weight: 400;
    width: 304px;
    color: hsl(236, 13%, 42%);
}

.blue{
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 100%, 5%);
    color: hsl(233, 8%, 79%);
    padding: 1.56rem;
    width: 21.25rem;
    height: 30.5rem;
    margin-left: 1.7rem;
    margin-top: -0.1rem;
    line-height: 2rem;
}


.blue h1{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: hsl(35, 77%, 62%);
}

button:active{
    transform: scaleX(0.975) scaleY(0.975);
    transition-duration: 0.4s;
}

.divider{
    display: flex;
    align-self: center;
    justify-self: center;
    border: 0.1px solid hsl(233, 8%, 79%);
    margin: 1.5rem auto 0.5rem auto;
}

.blue h3{
    color: hsl(36, 100%, 99%);
}

.one, .two, .three{
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}

ol img{
    height: 8rem;
    width: 6.19rem;
}

.bullet-inside{
    display: flex;
}

.bullet-inside h1{
    color: hsl(233, 8%, 79%);
}

.bullet-inside p{
    color: hsl(236, 13%, 42%);
}

.bulletin{
    margin-left: 1.7rem;
    margin-top: 4rem;
}

.bullet-info{
    height: 8.2rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
}

ol li{
    list-style-type: none;
    margin-bottom: 1.75rem;
}

.one h3, .two h3, .three h3{
    cursor: pointer;
}

.one h3:hover, .two h3:hover, .three h3:hover{
    color:hsl(5, 85%, 63%);
    transition: 0.2s;
}

.bullet-info h3{
    cursor: pointer;
}

.bullet-info h3:hover{
    text-decoration: underline 3px hsl(5, 85%, 63%);
}

.horizontal{
    display: none;
}

@keyframes sweep {
    0% {
        background-position: 0 0;
    }
  
  32.5% {
    background-position: 300% 300%;
  }

  100%{
    background-position: 300% 300%;
  }
}

@keyframes sidefloat{

    20%, 21%{
        margin-right: 0.875rem; 
    }

}


@keyframes bop{

    20%{
        top: 2.5rem; 
    }

    36%{
        top: 3rem; 
    }

    52%{
        top: 2.75rem;
    }

    68%{
        top: 3rem; 
    }
}

@media screen and (min-width: 1440px) {
    body{
        margin: 2.5rem 7rem;
    }

    .w{
        height: 2.5rem;
        width: 4rem;
    }
    
    img{
        width: 45rem;
        height: 18.75rem;
    }

    .mid{
        margin-top: 1rem;
        width: 45rem;
        height: 18.75rem;
        display: flex;
    }

    .mid h1{
        font-size: 3.4rem;
        line-height: 3.5rem;
        padding-right: 0;
    }

    .future{
        width: 100rem;
    }

    .promise{
        height: 96px;
        margin-top: -0.75rem;
    }

    .promise p{
        margin: 0;
        width: 20rem;
        font-size: 0.9rem;
    }

    button{
        position: absolute;
        top: 39.4rem;
        letter-spacing: 1px;
        left: 30.3rem;
    }

    span{
        padding-right: 0.5rem;
    }
    
    .container{
        min-height: 100vh;
        min-width: 80vw;
    }
    
    .side-bar{
        display: none;
    }

    .menu-button{
        display: none;
    }

    .blue{
        position: absolute;
        top: 9.6rem;
        left: 54rem;
        height: 31.875rem;
    }

    .bullets{
        display: flex;
        margin-top: -7.5rem;
        width: 5rem;
    }

    ol li{
        padding-right: 1.65rem;
    }

    .horizontal{
        display: flex;
        position: absolute;
        top: 4.5rem;
        left: 50.2rem;
    }

    .horizontal li{
        list-style-type: none;
        padding: 1rem;
        cursor: pointer;
    }

    .horizontal li:hover{
        font-weight: 700;
        color: hsl(5, 85%, 63%);
    }
  }